li(class="#{pageMainMenuModel.home}")
    a(href="/pages/home") Home
li(class="#{pageMainMenuModel.reports}")
    a(href="/stages/windows") Reports
li(class="#{pageMainMenuModel.admin}")
    a(href="/stages/grids") Admin