li(class="#{pageMainMenuModel.home}")
    a(href="/pages/home") Home
li(class="#{pageMainMenuModel.reports}")
    a(href="/pages/reports") Reports
li(class="#{pageMainMenuModel.admin}")
    a(href="/pages/admin") Admin