.logo {
    background: url('../../../images/Leafs-48.png') no-repeat 4px 4px;
    padding-left: 60px;
}
.logo span {

    background: url('../../../images/biodome.png') no-repeat 0 -12px;
    padding-top: 1px;
    padding-left: 125px;
    padding-bottom: 4px;
}